.filters {
  text-align: center;
  display: flex;
  width: 70%;
  margin: auto;
  padding: 30px 20px 0;
}

.filters div {
  width: calc(100% / 3);
  cursor: pointer;
  padding: 25px;
  background-color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.filters div:hover {
  background-color: antiquewhite;
}
